@charset "utf-8";

body {
    /* font-family: "Noto Sans", sans-serif; */
}


.bg-video{
    position: absolute;
    bottom: -34%;
    left: 0;
    height: 51.5%;
    width: 100%;
    z-index: -1;
    opacity: 7;
    padding: 0 5%;
}

.bg-video__content{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Contents */
#contents {
    width: 100%;
    padding-top: 50px;
}
/* 메인 슬라이더 영역 */
.slide{
    position: relative;
    height: 700px;
}
/* 텍스트 공통 */
.text-box{
    position: absolute;
    font-size: 46px;
    color: #fff;
    width: 100%;
    left: 5%;
    top: 50%;
    line-height: 1.2;
}
.text-box .slider-text span{
    font-weight: bold;
}
.text-box .kv__product{
    font-size: 16px;
    position: absolute;
    bottom: -15%;
    left: 1%;
}
/* 2,4번째 슬라이드 공통 */
.mb{
    bottom: -30% !important;
}
/* 이벤트 영역 */
.event{
    text-align: center;
    padding: 64px 0;
}
.event-box{
    margin: 0 auto;
    overflow: hidden;
}
.event>h2{
    margin-bottom: 25px;

}
.event h2{
    font-size: 32px;
    font-weight: 800;
    font-family: "Noto Sans KR",serif;
    color: #222;
    line-height:1.5;
}

.event-contents{
    padding: 44px 16px;
    width: 100%;
    height: 510px;
    background-image: url("../images/eventImg.jpg");
    background-size: cover;
    background-position: center;
}
.event-contents h2{
    font-weight: 600;
    font-size: 27px;
}
.event-contents span{
    font-size: 13px;
    color: #666;

}
/* 이벤트 스와이퍼 */
.event-sub-swiper{
    margin-top: 70px;
    margin-bottom: 60px;
    overflow: hidden;
    position: relative;
}
.event-sub-swiper .swiper .swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 380px;
    padding-bottom: 50px;
}
.event-sub-swiper .swiper{
    position: relative;
    margin: 0 auto;
}
.event-sub-swiper .swiper .swiper-wrapper .swiper-slide  div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;


}
.event-sub-swiper .swiper .swiper-wrapper .swiper-slide h2{
}
.event-swiper-img-box1{
    background-image:url("../images/event-slider1.jpg") ;
}
.event-swiper-img-box2{
    background-image:url("../images/event-slider2.jpg") ;
}
.event-swiper-img-box3{
    background-image:url("../images/event-slider3.jpg") ;
}
.event-sub-swiper .swiper h2{
    font-size: 25px;
    position: absolute;
    left: 20%;
    bottom: 17%;
    text-align: left;
    font-weight: 600;
    line-height: 1.25;

}
.event-swiper-img-box1 h2{
    left: 26% !important; 
}
.event-sub-swiper .swiper  p{
    font-size: 12px;
    position: absolute;
    text-align: left;
    left: 27%;
    bottom: 7%;
    color: #666;
    line-height: 1.5;
}
.event-swiper-img-box2 p{
    left: 20% !important;
}
.event-swiper-img-box3 p{
    left: 6% !important;
}
.event-sub-swiper .swiper-scrollbar{
    height: 3px;
    position: absolute;
    left: 8%;
    width: 80%;
    bottom: 0%;
    z-index: 10;
    display: block;
    opacity: 1;
}

.product .swiper-scrollbar{
    height: 3px;
    position: absolute;
    left: 8%;
    width: 80%;
    bottom: -10%;
    z-index: 10;
    display: block;
    opacity: 1;
}
.swiper-pagination{
    color: #fff;
}
.swiper-pagination-total{
    color: #fff;

}
.event a:last-child{
    font-size: 13px;
}
.event a i{
    font-weight: 100;
}
/* Product */
.product{
    padding: 64px 0;
    background-color: #f4f4f4;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.product h2{
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 33px;
}
.swiper-product{
    width: 250px;
    height: 300px;
    margin: 0 auto;
}
.product .swiper-product .swiper-wrapper .swiper-slide div {
    width: 100%;
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 0 35px;

}
.product .swiper-product .swiper-wrapper div:nth-child(4) div {
    border: none;

}
.product p{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100% ;
    background-repeat: no-repeat;
    font-weight: bold;
    text-align: left;
    padding-top: 260px;
}
.product-swiper-img-box1{
    background-image: url("../images/product-camera.png");
}
.product-swiper-img-box2{
    background-image: url("../images/product-vdeioCamera.png");
}
.product-swiper-img-box3{
    background-image: url("../images/product-audio.png");
}
.product-swiper-img-box4{
    background-image: url("../images/product-ps.png");
}
.product .swiper-scrollbar{
    bottom: 10%;
    opacity: 0;
}

/* banner */
.banner{
    padding: 64px 0;
    background-color: #f4f4f4;
    text-align: center;
    overflow: hidden;
}
.banner div{
    background: url("../images/banner.png") no-repeat center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    padding-top: 70px;
}
.banner h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}
.banner p{
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.banner p i{
    font-weight: bold;
}
/* Help */
.help{
    background-color: #f4f4f4;
    padding: 38px 24px;
}
.help h2{
    color: #222;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 0.6;
}
.help-list{
    display: flex;
    flex-flow: wrap;
}
.help-list li{
    font-size: 16px;
    font-family: "Noto Sans KR",sans-serif;
    color: #222;
    padding: 32px 0;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(50% - 8px);
    text-align: center;
}
.help-list li:nth-child(1){
    background-image: url("../images/help1.svg");
}
.help-list li:nth-child(2){
    background-image: url("../images/help2.svg");
}
.help-list li:nth-child(3){
    background-image: url("../images/help3.svg");
}
.help-list li:nth-child(4){
    background-image: url("../images/help4.svg");
}
.help-list p{
    width: 100%;
    font-weight: 600;
    height: 100%;
    padding-top: 67px;
    cursor: pointer;

}
