@charset "utf-8";

/* 1. 스와이퍼 페이지 영역 */
#portfolio {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000, #202020, #c1c1c1);
    font-family: 'Noto Sans KR', sans-serif;
}
/* C-1. 스와이퍼 될 Slider 각각 내용들 */
/* .swiper-slide {
    width: 1100px;
    height: 614px;
    background-color: #959595;
} */

.swiper-slide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    outline: none;
}

/* 각 슬라이드 페이지 CSS */
.slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* 포지션 위치기준값 */
    position: relative;
}

.slide h3 {
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    color: #fff;
    /* 포지션 */
    position: absolute;
    left: 20px;
    top: -32px;
    z-index: 1;
}

.slide .btn {
    margin-top: 440px;
}

.slide .btn button {
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    letter-spacing: -1px;
    cursor: pointer;
}

.slide .btn button:hover {
    background-color: #fff;
    color: #454545;
}

/* 슬라이더 박스 */
.p_mockup{
    width: 100%;
    height: 100%;
}
.p_mockup img{
    width: 100%;
    height: 100%;
}