@charset "utf-8";

#wrap {
    background: none;
    height: 100%;
    padding: 0;
}
header{
    width: 100% !important;
}
footer{
    padding: 0;
}
/* 배경 동영상 */
video {
    /* 이벤트 페이지 에서 사용  */
    /* 포지션 */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

/* Contents  */
#contents {
    padding: 0 16px;
    margin-bottom: 64px;
}

#contents .videoback {
    font-family: "Lato", sans-serif;
    font-size: 0.867rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    padding: 28px 24px;
    background-color: rgb(72, 72, 72,0.6);
    margin: 35px;
}
.videoback img{
    opacity: 0.7;
}

#contents .videoback img {
    width: 100%;
}
/* 
#contents .videoback h3 {
    margin-bottom: 24px;
}

#contents .videoback p {
    font-size: 0.6875rem;
}

#contents .videoback p:nth-child(2) {
    margin-bottom: 44px;
}

#contents .videoback p:nth-child(3) {
    margin-bottom: 40px;
}

#contents .videoback p:nth-child(4) {
    margin-bottom: 40px;
}

#contents .videoback strong {
    font-weight: 900;
    text-shadow: 1px 1px 0 #000;
} */

.synops-img-box{
    margin-bottom: 15px;
}
.synops-text h3{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.synops-text p{
    font-size: 12px;
    line-height: 1.5;
} 


footer{
    opacity: 1  ;
}