@charset "utf-8";


.header > div:first-child {
    position: relative;
    top: -40%;
}
/* ========================================================
    FIXED 모바일 햄버거 메뉴 효과
======================================================== */
/* A. 햄버거 메뉴 그리기 */
input[id="menuicon"] {
    display: none;
}

input[id="menuicon"]+label {
    display: block;
    width: 56px;
    height: 60px;
    cursor: pointer;
    /* 포지션 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
}

input[id="menuicon"]+label span {
    display: block;
    width: 24px;
    height: 2px;
    background: #fff;
    /* 포지션 */
    position: fixed;
    z-index: 90;
    transition: all 0.3s;
}

input[id="menuicon"]+label span:nth-child(1) {
    left: 16px;
    top: 24px;
}

input[id="menuicon"]+label span:nth-child(2) {
    left: 16px;
    top: 30px;
}

input[id="menuicon"]+label span:nth-child(3) {
    left: 16px;
    top: 34px;
}

/* B. 클릭시 X버튼 만들기 */
input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 34px;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
    top: 32px;
    transform: translateY(50%) rotate(-45deg);
}

/* C. GNB 메뉴 슬라이딩 효과 */
.header nav[class="mobile_gnb"] {
    width: 250px;
    height: 100%;
    background: #000;
    /* 포지션 */
    position: fixed;
    left: -258px;
    top: 0;
    z-index: 89;
    transition: all 0.3s;
}

input[id="menuicon"]:checked+label+nav {
    left: 0;
}

/* Banner */
.header {
    height: 60px;
}

.header .banner {
    /* 포지션 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.header .banner img {
    width: 100%;
}

/* Contents */
/* Search From */
#contents form {
    margin-top: 20px;
}

.box {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin: 0 auto;
}

.search_container {
    width: 100%;
    vertical-align: top;
    /* 포지션 위치기준값 */
    position: relative;
}

/* ::placeholder 접두어 */
.search_container input#search::placeholder {
    color: #ccc;
}

/* 폰트어썸 아이콘 */
.search_container .icon {
    color: #4f5b66;
    /* 포지션 */
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: 17px;
    margin-left: 17px;
}

/* input Form */
.search_container input#search {
    width: 100%;
    height: 50px;
    background: #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 11px;
    padding-left: 45px;
    border: none;
    outline: none;
    float: left;
}

/* 호버효과 */
.search_container input#search:hover,
.search_container input#search:focus,
.search_container input#search:active {
    background: #2b303b;
}

/* Contents Section */
.promotion {
    margin-top: 16px;
    padding: 0 10px;
    color: #000;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: "Noto Sans KR",serif;
    line-height: 1.5;
    text-align: center;
}

.promotion p {
    font-weight: 500;
}

.promotion p:last-child {
    margin-top: 16px;
}
.promotion a{
    text-decoration: underline;
}

/* Youtube Section */
.youtube {
    margin-top: 10px;
}

.youtube iframe {
    width: 100%;
}

/* Area Script Section */
.area {
    margin-top: 16px;
    padding: 0 10px;
}

.area h3 {
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    text-shadow: 0 0 3px rgba(65, 14, 218, 0.5);
    margin-bottom: 24px;
}

.area p {
    margin-top: 20px;
}

.area p button {
    display: inline-block;
    padding: 14px 10px;
    background: #000;
    border: none;
    border-radius: 4px;
    margin: 0 4px 8px 0;
    font-size: 0.6875rem;
    color: #fff;
}

#myBtn {
    cursor: pointer;
}