@charset "utf-8";

#wrap {
    background: #000;
    height: 900px;
    border: none;
}

header {
    /* 포지션 위치기준값 */
    position: relative;
}


/* Ticket 페이지 링크 */
.ticket {
    /* 포지션 */
    position: absolute;
    right: 2%;
    top: 14px;
    z-index: 9999;
    padding-right: 10px;
}
.ticket button {
    width: 114px;
    height: 32px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}



/* Contents */
#contents{
    padding-top: 50px !important;
}
/* Youtube Section */
#contents .youtube {
    padding: 0 10px;
    transform: translateY(100%);
}

#contents .youtube iframe {
    width: 100%;
}



.footer{
    opacity: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
}






















