@charset "utf-8";
.nowrap {
    --r-globalnav-height: 44px;
    --r-globalnav-segmentbar-height: 0;
    --r-globalnav-viewport-large-min-width: 1024px;
    --r-globalnav-viewport-large-max-width: 1441px;
    --r-globalnav-viewport-large-query: (min-width: 1024px);
    --r-globalnav-viewport-medium-min-width: 768px;
    --r-globalnav-viewport-medium-max-width: 1023px;
    --r-globalnav-viewport-medium-query: (max-width: 1023px);
    --r-globalnav-viewport-small-min-width: 420px;
    --r-globalnav-viewport-small-max-width: 767px;
    --r-globalnav-viewport-small-query: (max-width: 767px);
    --r-globalnav-viewport-xsmall-min-width: 320px;
    --r-globalnav-viewport-xsmall-max-width: 419px;
    --r-globalnav-viewport-xsmall-query: (max-width: 419px);
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: center;
    color: #06c;
    letter-spacing: inherit;
    box-sizing: inherit;
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}
body{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.w1440{
    width: 1440px;
    margin: 0 auto;
    width: 101.0526315789474vw;
}
/* Header 가변 기준값 1425x768 */
#header{
    background-color: rgba(240,240,240,0.8);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* 상단 GNB메뉴 */
#header nav{
    width: 980px;
    /* width: (980/1425)*100 = 68.7719298245614vw; */
    width: 68.7719298245614vw;
    margin: 0 auto;
 
}
#header .gnb{
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo img{
    margin-top: -4px;
    margin-right: 4px;
}
#header .logo a{
    display: inline-block;
    font-size: 20px;
    letter-spacing: -0.14px;
    font-weight: 400;
}

#header .gnb li a{
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 300;
}
.svg,.search{
    width: 17px;
    /* width: 17/1425 * 100; */
    width: 1.192982456140351%;
    /* https://codepen.io/sosuke/pen/Pjoqqp = filter 값 얻기 */
    filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(16deg) brightness(95%) contrast(105%);
}



/* 탑 배너 */
.top_banner{
    height: 76px;
    background: linear-gradient(180deg, #399fd5 0%, #0983ff 100%);
    text-align: center;
    line-height: 76px;
    /* 76/768*100 */
    line-height: 9.895833333333333vh;
    
}
.top_banner h4::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    font-size: 1.692708333333333vh;
    font-weight: 900;
    color: #fff;
    padding-left: 5px;
    display: inline-block;
}
.top_banner h4 a{
    font-size: 17px;
    font-size: 2.213541666666667vh;
    font-weight: 500;
    color: #fff;
}

/* Contents */
/* HomePage */
.homepage{
    color: #fff;
    padding-bottom: 70px;
    /* 70/768) * 100 */
    padding-bottom:9.114583333333333vh;
}
/* 첫번재 li */
.homepage .main_img li:first-child{
    background-image: url(../images/wwdc21-hero3-large_2x.jpeg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 624px;
    /* 624/768*100 */
    background-size: 100% 81.25vh;
    height: 624px;
    /* 624/768*100 */
    height: 81.25vh;
    /* 위치 기준값 */
    position: relative;
}

.homepage .main_img li:first-child .main_img_text{
    /* 포지션 */
    position: absolute;
    left: 100px;
    /* 100/1425*100 */
    left: 7.017543859649123vw;
    top: 150px;
    /* 150/768*100 */
    top: 19.53125vh;
    z-index: 100;
    padding-top: 88px;
    /* 88/768*100 */
    padding-top: 11.45833333333333vh;

}
.homepage .main_img h3>img{
    width: 50%;
}
.homepage .main_img li:first-child h4{
    visibility: hidden; 
}
.homepage .main_img li:first-child h5{
    font-size: 27px;
    /* 27/768*100 */
    font-size: 3.515625vh;
    font-weight: 400;
    color: #f5f5f7;
    line-height: 32px;
    /* 32/768*100 */
    line-height: 4.166666666666667vh;
}
.homepage .main_img li:last-child {
    text-align: center;
    margin-top: 80px;
    /* 80/768*100 */
    margin-top: 10.4167vh;
}
/* 두번째 li */
.homepage .main_img li:last-child h3{
    color: #000;
    font-size: 44px;
    font-size: 5.729166666666667vh;
    font-weight: 600;
    line-height: 48px;
    /* 48/768*100 */
    line-height: 6.25vh;
    margin-bottom: 48px;
    /* 48/768*100 */
    margin-bottom: 6.25vh;

}
.homepage .main_img li:last-child h4 >img{
    width: 635px;
    /* 635/1425*100 */
    width: 44.56140350877193vw;
}

/* Section 01 */
.promos{
    background-color: #fff;
    padding: 12px;
    /* 12/768*100 */
    padding: 1.5625vh;
}
.promos ul{
    /* 플렉스  */
    display: flex;
    justify-content: space-between;
}
/* Promotione left */
.promos li:first-child{
    width: 695.5px;
    /* 695.5/1425*100 */
    width: 48.80701754385965vw;
    height: 574px;
    /* 574/768*100 */
    height: 74.73958333333333vh;
    background-image: linear-gradient(320deg, rgb(10,96,216)0%, rgb(81,214,254)100% );
    background-origin: padding-box;
    padding: 52px 0 0;
    /* 52/768*100 */
    padding: 6.770833333333333vh 0 0;
    text-align: center;

}

/* 리액트 사용 추가 CSS */
.promos li:first-child div img{
    width: 200px;
    /* 200/1425*100 */
    width: 14.03508771929825vw !important;
}
.promos li:first-child h4{
    font-size: 32px;
    /* 32/768*100 */
    font-size: 4.166666666666667vh;
    color: #fafafa;
    font-weight: 600;
    line-height: 44px;
    /* 44/768*100 */
    line-height: 5.729166666666667vh;
}
.promos li:first-child h5{
    font-size: 21px;
    /* 21/768*100 */
    font-size: 2.734375vh;
    color: #fafafa;
    font-weight: 300;
    margin-top: 4px;
    line-height: 26px;
    /* 26/768*100 */
    line-height: 3.385416666666667vh;

}

.promos h5+div{
    margin-top: 120px;
    /* 120/768*100 */
    margin-top: 15.625vh;
}

/* Promotion Right */
.promos li:last-child{
    width: 694.5px;
    /* 리액트 수정 */
    width: 708px;
    /* 708/1425*100 */
    width: 49.68421052631579vw;
    height: 574px;
    height: 74.73958333333333vh;
    background-image: url(../images/large_2x.jpeg);
    background-position: 50% 50%;
    background-size: auto 100%;
    background-origin: padding-box;
    text-align: center;
    
}

.promos li:last-child h4{
    font-size: 34px;
    /* 34/768*100 */
    font-size: 4.427083333333333vh;
    color: #fafafa;
    line-height: 44px;
    /* 44/768*100 */
    line-height: 5.729166666666667vh;
    padding-top: 380px;
    /* 380/768*100 */
    padding-top: 49.47916666666667vh;
    font-weight: 600;
}
.promos li:last-child h5{
    font-size: 18px;
    /* 18/768*100 */
    font-size: 2.34375vh;
    color: #06c;
    font-weight: 400;
    line-height: 24px;
    /* 24/768*100 */
    line-height: 3.125vh;
    padding-top: 16px;
    /* 16/768*100 */
    padding-top: 2.083333333333333vh;
}
/* 폰트어썸 가상클래스 적용 */
.promos li:last-child h5 a:first-child::after{
    content: "\f054";
    font-size: 13px;
    /* 13/768*100 */
    font-size: 1.692708333333333vh;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    padding-left: 8px;
    padding-left: 0.5614035087719298vw;
    display: inline-block;
}
/* 리액트 추가 */
.promos li:last-child{
    margin-left: 18px;
    margin-left: 1.263157894736842vw;

}

.promos li:last-child h5 a:last-child::after{
    content: "\f144";
    font-size: 18px;
    font-size: 2.34375vh;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-left: 8px;
    /* 8/1425*100 */
    padding-left: 0.5614035087719298vw;
    display: inline-block;
}
/* Section2 */
.xcode {
    width: 100%;
    height: 692px;
    /* 692/768*100 */
    height: 90.10416666666667vh;
    background: linear-gradient(#f2f2f2, #d5e4f3);
    padding-top: 88px;
    /* 88/768*100 */
    padding-top: 11.45833333333333vh;
    text-align: center;

}
.xcode h4{
    font-size: 56px;
    font-size: 7.291666666666667vh;
    color: #1d1d1d;
    font-weight: 600;
    margin-bottom: 72px;
    margin-bottom: 9.375vh;
}





/* Section 03 */
.apps{
    background-color: #fff;
    padding: 12px 12px 0;
    padding: 1.5625vh 0.8421052631578947vw 0;
    
}
.apps ul {
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* Apps 01 */
.apps li{
    width: 702px;
    /* 702/1425*100 */
    width: 49.26315789473684vw;
    height: 574px;
    /* 574/768*100 */
    height: 74.73958333333333vh;
    background-image: linear-gradient(320deg, rgb(184,201,228)0%, rgb(231,244,248)100%);
    background-origin: padding-box;
    padding: 52px 0;
    /* 52/768*100 */
    padding: 6.770833333333333vh 0;
    margin-bottom: 12px;
    /* 12/768*100 */
    margin-bottom: 1.5625vh;
    text-align: center;
}

.apps li h4{
    font-size: 40px;
    /* 40/768*100 */
    font-size: 5.208333333333333vh;
    color: #1d1d1f;
    font-weight: 600;
    line-height: 44px;
    /* 44/768*100 */
    line-height: 5.729166666666667vh;

}
.apps li h5{
    width: 430px;
    /* 430/1425*100 */
    width: 30.17543859649123vw;
    font-size: 21px;
    /* 21/768*100 */
    font-size: 2.734375vh;
    color: #1d1d1f;
    font-weight: 400;
    line-height: 26px;
    /* 26/768*100 */
    line-height: 3.385416666666667vh;
    margin: 0 auto;
    margin-top: 4px;
}
.apps li h5+div{
    margin-top: 64px;
    /* 64/768*100 */
    margin-top: 8.333333333333333vh;
}

/* Apps 배경 */
.apps li:nth-child(2) {background:linear-gradient(320deg,rgb(227,181,179)0%, rgb(244,237,226)100%);}
.apps li:nth-child(3),
.apps li:nth-child(4),
.apps li:nth-child(5),
.apps li:nth-child(6){
    background: #fafafa;
}


/* Section 04 */
.platforms{
    max-width: 100%;
    height: 320px;
    /* 320/768*100 */
    height: 41.66666666666667vh;


    background: #fafafa;
    padding: 12px 0;
    /* 12/768*100 */
    padding: 1.5625vh 0;
    margin-bottom: 12px;
    /* 12/768*100 */
    margin-bottom: 1.5625vh;
    text-align: center;
}

.platforms h3{
    color: #1d1d1f;
    line-height: 1.125;
    font-weight: 600;
    padding: 25px 0;
    /* 25/768*100 */
    padding: 3.255208333333333vh 0;
}
.platforms .links{
    width: 980px;
    width: 68.7719298245614vw;
    margin: 0 auto;
    /* 플렉스 */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.platforms .links a{
    margin: 0 28px;
    margin: 0 1.964912280701754vw;
    /* 플렉스 */
    display: flex;
    flex-direction: column;
}
.platforms .links a p:last-child{
    margin-top: 8px;
    /* 8/768*100 */
    margin-top: 1.041666666666667vh;
}

/* Section h5 */
.banner{
    height: 560px;
    /* 560/768*100 */
    height: 72.91666666666667vh;
    background: linear-gradient(rgb(0,0,0)0%, rgb(15,114,197) 100%);
    margin-bottom: 12px;
    /* 12/768*100 */
    margin-bottom: 1.5625vh;
}
.banner .section_content{
    width: 980px;
    /* 980/1425*100 */
    width: 68.7719298245614vw;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.banner .section_content div{
    width: 520px;
    width: 36.49122807017544vw;
    margin: 0 auto;
    padding: 36px;
    padding: 4.6875vh 2.526315789473684vw;
    letter-spacing: -1px;
}
.banner .section_content div h3,
.banner .section_content div h5{
    font-size: 32px;
    font-size: 4.166666666666667vh;
    color: #f5f5f7;
    line-height: 1.125;
    font-weight: 600;
}
.banner .section_content div h5{
    font-size: 18px;
    font-size: 2.34375vh;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
    /* 8/768*100 */
    margin-top: 1.041666666666667vh;
}
.banner figure{
    height: 376px;
    height: 48.95833333333333vh;
    background: url(../images/build-apps_2x.png) no-repeat center;
    background-size: cover;
    margin-top: -50px;
    /* -50/768*100 */
    margin-top: -6.510416666666667vh;
}

/* Aside */
.aside {
    background-color: #f5f5f7;
    padding: 25px 0;
    /* 25/768*100 */
    padding: 3.255208333333333vh 0;
}
.aside .section_content{
    width: 980px;
    /* 980/1425*100 */
    width: 68.7719298245614vw;
    margin: 0 auto;
    color: #1d1d1f;
    font-size: 17px;
    /* 플렉스 */
    display: flex;
    flex-basis: 25%;
}
.aside .section_content div {
    text-align: center;
}
.aside .section_content div figure{
    width: 50px;
    /* 50/1425*100 */
    width: 3.508771929824561vw;
    height: 50px;
    /* 50/768*100 */
    height: 6.510416666666667vh;
    background: url("../svg/news.svg") no-repeat center;
    background-size: 100%;
    margin: 4px auto 10px;
}
.aside .section_content div:nth-child(2) figure { background: url("../svg/documentation.svg");}
.aside .section_content div:nth-child(3) figure { background: url("../svg/download.svg");}
.aside .section_content div:nth-child(4) figure { background: url("../svg/program.svg");}

.aside .section_content div p{
    width: 216px;
    /* 216/1425*100 */
    width: 15.15789473684211vw;
    color: #1d1d1f;
    font-size: 17px;
    /* 17/768*100 */
    font-size: 2.213541666666667vh;
    font-weight: 600;
    line-height: 25px;
    /* 25/768*100 */
    line-height: 3.255208333333333vh;
}

.aside .section_content  div p:nth-last-child(2),
.aside .section_content  div p:last-child{
    font-size: 14px;
    /* 14/768*100 */
    font-size: 1.822916666666667vh;
    font-weight: 400;
    margin-top: 12px;
    /* 12/768*100 */
    margin-top: 1.5625vh;
    line-height: 20px;
    /* 20/768*100 */
    line-height: 2.604166666666667vh;
}
.aside .section_content  div p:last-child{
    color: #06c;
    margin-top: 12px;
    /* 12/768*100 */
    margin-top: 1.5625vh;
}

.aside .section_content div span::after{
    content: "\f054";
    font-size: 13px;
    font-size: 1.692708333333333vh;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #06c;
    padding-left: 8px;
    padding-left: 0.5614035087719298vw;
    display: inline-block;
}
/* Footer */
#footer{
    font-size: 12px;
    font-size: 1.5625vh;
    line-height: 1.3334;
    font-weight: 400;
    background-color: #f5f5f7;
    color: #515154;
    min-width: 1024px;
    /* 1024/1425*100 */
    min-width: 71.85964912280702vw;
    padding-top: 25px;
    /* 25/768*100 */
    padding-top: 3.255208333333333vh;
}
#footer .footer_content{
    width: 1024px;
    /* 1024/1425*100 */
    width: 71.85964912280702vw;
    padding: 0 22px;
    /* 22/1425*100 */
    padding: 0 1.543859649122807vw;
    margin: 0 auto;
}
/* 참고 sprite 기법 */
/* #footer .footer_content h2{
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
} */
/* Footer Navigation */
#footer .footer_content nav{
    border-top: 1px solid #000;
    padding-top: 20px;
    /* 20/768*100 */
    padding-top: 2.604166666666667vh;
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
}
#footer .footer_content nav h3 {
    font-weight: 600;
    line-height: 16px;
    /* 16/768*100 */
    line-height: 2.083333333333333vh;
    letter-spacing: -0.12px;
    margin-bottom: 9.6px;   
    /* 9.6/768*100 */
    margin-bottom: 1.25vh;
}
#footer .footer_content nav>div{
    width: 20%;
}
#footer .footer_content nav ul{
    font-weight: 400;
    line-height: 16px;
    /* 16/768*100 */
    line-height: 2.083333333333333vh;
}
#footer .footer_content nav ul li {
    margin-bottom: 9.6px;
    /* 9.6/768*100 */
    margin-bottom: 1.25vh;
}
#footer .footer_content nav>div:last-child>div:last-child{
    margin-top: 24px;
    /* 24/768*100 */
    margin-top: 3.125vh;
}
/* Legal */
#legal{
    width: 980px;
    /* 980/1425*100 */
    width: 68.7719298245614vw;
    margin: 0 auto;
    padding: 34px 0 21px;
    padding: 4.427083333333333vh 0 2.734375vh;
    color: #868;
}
#legal h3{
    margin-bottom: 7px;
    /* 7/768*100 */
    margin-bottom: 0.9114583333333333vh;
    padding-bottom: 8px;
    /* 8/768*100 */
    padding-bottom: 1.041666666666667vh;
    border-bottom: 1px solid #d2d2d7;
}
#legal h3>a{
    color: #06c;
}
#legal > div {
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
    
    margin-top: 5px;
    margin-top: 0.6510416666666667vh;
}
#legal>div div:first-child{
    margin: 5px 30px 0 0;
    margin: 0.6510416666666667vh 2.105263157894737vw 0 0;
}
#legal>div div:first-child a{
    color: #515154;
}
#legal>div div:nth-child(2){
    color: #515154;
    margin-left: -20.21052631578947vw;
}
#legal>div div:nth-child(2) a{
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    margin-right: 0.4912280701754386vw;
    padding-right: 10px;
    padding-right: 0.7017543859649123vw;
    display: inline-block;
    margin-top: 5px;
    margin-top: 0.6510416666666667vh;
}
#legal>div div:nth-child(2) a:last-child{
    border-right: none;
}

#legal>div div:last-child{
    margin-top: 5px;
    margin-top: 0.6510416666666667vh;
}
#legal span::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    font-size: 1.692708333333333vh;
    color: #06c;
    padding-left: 8px;
    padding-left: 0.5614035087719298vw;
    display: inline-block;
}

/* select 스타일 */
select{
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}






































































