@charset "utf-8";
.nowrap {
    --r-globalnav-height: 44px;
    --r-globalnav-segmentbar-height: 0;
    --r-globalnav-viewport-large-min-width: 1024px;
    --r-globalnav-viewport-large-max-width: 1441px;
    --r-globalnav-viewport-large-query: (min-width: 1024px);
    --r-globalnav-viewport-medium-min-width: 768px;
    --r-globalnav-viewport-medium-max-width: 1023px;
    --r-globalnav-viewport-medium-query: (max-width: 1023px);
    --r-globalnav-viewport-small-min-width: 420px;
    --r-globalnav-viewport-small-max-width: 767px;
    --r-globalnav-viewport-small-query: (max-width: 767px);
    --r-globalnav-viewport-xsmall-min-width: 320px;
    --r-globalnav-viewport-xsmall-max-width: 419px;
    --r-globalnav-viewport-xsmall-query: (max-width: 419px);
    -webkit-text-size-adjust: 100%;
    quotes: "“" "”";
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: center;
    color: #06c;
    letter-spacing: inherit;
    box-sizing: inherit;
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}
body{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.w1440{
    width: 1440px;
    margin: 0 auto;
}
/* Header */
#header{
    background-color: rgba(240,240,240,0.8);
}

/* 상단 GNB메뉴 */
#header nav{
    width: 980px;
    margin: 0 auto;
}
#header .gnb{
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo img{
    margin-top: -4px;
    margin-right: 4px;
}
#header .logo a{
    display: inline-block;
    font-size: 20px;
    letter-spacing: -0.14px;
    font-weight: 400;
}

#header .gnb li a{
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 300;
}
.svg,.search{
    width: 17px;
    /* https://codepen.io/sosuke/pen/Pjoqqp = filter 값 얻기 */
    filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(16deg) brightness(95%) contrast(105%);
}

/* 탑 배너 */
.top_banner{
    height: 76px;
    background: linear-gradient(180deg, #399fd5 0%, #0983ff 100%);
    text-align: center;
    line-height: 76px;
}
.top_banner h4::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    font-weight: 900;
    color: #fff;
    padding-left: 5px;
    display: inline-block;
}
.top_banner h4 a{
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

/* Contents */
/* HomePage */
.homepage{
    color: #fff;
    padding-bottom: 78px;
}
/* 첫번재 li */
.homepage .main_img li:first-child{
    background-image: url(../images/wwdc21-hero3-large_2x.jpeg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 624px;
    height: 624px;
    /* 위치 기준값 */
    position: relative;
}

.homepage .main_img li:first-child .main_img_text{
    /* 포지션 */
    position: absolute;
    left: 500px;
    top: 150px;
    z-index: 100;
    padding-top: 88px;
}
.homepage .main_img h3>img{
    width: 50%;
}
.homepage .main_img li:first-child h4{
    visibility: hidden; 
}
.homepage .main_img li:first-child h5{
    font-size: 27px;
    font-weight: 400;
    color: #f5f5f7;
    line-height: 32px;
}
.homepage .main_img li:last-child {
    text-align: center;
    margin-top: 80px;
}
/* 두번째 li */
.homepage .main_img li:last-child h3{
    color: #000;
    font-size: 44px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 48px;

}
.homepage .main_img li:last-child h4 >img{
    width: 635px;
}
/* Section 01 */
.promos{
    background-color: #fff;
    padding: 12px;
}
.promos ul{
    /* 플렉스  */
    display: flex;
    justify-content: space-between;
}
/* Promotione left */
.promos li:first-child{
    width: 695.5px;
    height: 574px;
    background-image: linear-gradient(320deg, rgb(10,96,216)0%, rgb(81,214,254)100% );
    background-origin: padding-box;
    padding: 52px 0 0;
    text-align: center;

}
.promos li:first-child h4{
    font-size: 32px;
    color: #fafafa;
    font-weight: 600;
    line-height: 44px;
}
.promos li:first-child h5{
    font-size: 21px;
    color: #fafafa;
    font-weight: 300;
    margin-top: 4px;
    line-height: 26px;

}

.promos h5+div{
    margin-top: 120px;
}

/* Promotion Right */
.promos li:last-child{
    width: 694.5px;
    width: 708px;
    height: 574px;
    background-image: url(../images/large_2x.jpeg);
    background-position: 50% 50%;
    background-size: auto 100%;
    background-origin: padding-box;
    text-align: center;
    
}

.promos li:last-child h4{
    font-size: 34px;
    color: #fafafa;
    line-height: 44px;
    padding-top: 380px;
    font-weight: 600;
}
.promos li:last-child h5{
    font-size: 18px;
    color: #06c;
    font-weight: 400;
    line-height: 24px;
    padding-top: 16px;
}
/* 폰트어썸 가상클래스 적용 */
.promos li:last-child h5 a:first-child::after{
    content: "\f054";
    font-size: 13px;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    padding-left: 8px;
    display: inline-block;
    
    
}
.promos li:last-child h5 a:last-child::after{
    content: "\f144";
    font-size: 18px;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-left: 8px;
    display: inline-block;
}
/* Section2 */
.xcode {
    width: 100%;
    height: 692px;
    background: linear-gradient(#f2f2f2, #d5e4f3);
    padding-top: 88px;
    text-align: center;

}
.xcode h4{
    font-size: 56px;
    color: #1d1d1d;
    font-weight: 600;
    margin-bottom: 72px;
}




/* Section 03 */
.apps{
    background-color: #fff;
    padding: 12px 12px 0;
}
.apps ul {
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* Apps 01 */
.apps li{
    width: 702px;
    height: 574px;
    background-image: linear-gradient(320deg, rgb(184,201,228)0%, rgb(231,244,248)100%);
    background-origin: padding-box;
    padding: 52px 0;
    margin-bottom: 12px;
    text-align: center;
}

.apps li h4{
    font-size: 40px;
    color: #1d1d1f;
    font-weight: 600;
    line-height: 44px;

}
.apps li h5{
    width: 430px;
    font-size: 21px;
    color: #1d1d1f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 4px;
}
.apps li h5+div{
    margin-top: 64px;
}

/* Apps 배경 */
.apps li:nth-child(2) {background:linear-gradient(320deg,rgb(227,181,179)0%, rgb(244,237,226)100%);}
.apps li:nth-child(3),
.apps li:nth-child(4),
.apps li:nth-child(5),
.apps li:nth-child(6){
    background: #fafafa;
}


/* Section 04 */
.platforms{
    max-width: 100%;
    height: 320px;
    background: #fafafa;
    padding: 12px 0;
    margin-bottom: 12px;
    text-align: center;
}

.platforms h3{
    color: #1d1d1f;
    line-height: 1.125;
    font-weight: 600;
    padding: 25px 0;
}
.platforms .links{
    width: 980px;
    margin: 0 auto;
    /* 플렉스 */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.platforms .links a{
    margin: 0 28px;
    /* 플렉스 */
    display: flex;
    flex-direction: column;
}
.platforms .links a p:last-child{
    margin-top: 8px;
}

/* Section h5 */
.banner{
    height: 560px;
    background: linear-gradient(rgb(0,0,0)0%, rgb(15,114,197) 100%);
    margin-bottom: 12px;
}
.banner .section_content{
    width: 980px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.banner .section_content div{
    width: 520px;
    margin: 0 auto;
    padding: 36px;
    letter-spacing: -1px;
}
.banner .section_content div h3,
.banner .section_content div h5{
    font-size: 32px;
    color: #f5f5f7;
    line-height: 1.125;
    font-weight: 600;
}
.banner .section_content div h5{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
}
.banner figure{
    height: 376px;
    background: url(../images/build-apps_2x.png) no-repeat center;
    background-size: cover;
    margin-top: -50px;
}

/* Aside */
.aside {
    background-color: #f5f5f7;
    padding: 25px 0;
}
.aside .section_content{
    width: 980px;
    margin: 0 auto;
    color: #1d1d1f;
    font-size: 17px;
    /* 플렉스 */
    display: flex;
    flex-basis: 25%;
}
.aside .section_content div {
    text-align: center;
}
.aside .section_content div figure{
    width: 50px;
    height: 50px;
    background: url("../svg/news.svg") no-repeat center;
    background-size: 100%;
    margin: 4px auto 10px;
}
.aside .section_content div:nth-child(2) figure { background: url("../svg/documentation.svg");}
.aside .section_content div:nth-child(3) figure { background: url("../svg/download.svg");}
.aside .section_content div:nth-child(4) figure { background: url("../svg/program.svg");}

.aside .section_content div p{
    width: 216px;
    color: #1d1d1f;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
}

.aside .section_content  div p:nth-last-child(2),
.aside .section_content  div p:last-child{
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    line-height: 20px;
}
.aside .section_content  div p:last-child{
    color: #06c;
    margin-top: 12px;
}

.aside .section_content div span::after{
    content: "\f054";
    font-size: 13px;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #06c;
    padding-left: 8px;
    display: inline-block;
}
/* Footer */
#footer{
    font-size: 12px;
    line-height: 1.3334;
    font-weight: 400;
    background-color: #f5f5f7;
    color: #515154;
    min-width: 1024px;
    padding-top: 25px;
}
#footer .footer_content{
    width: 1024px;
    padding: 0 22px;
    margin: 0 auto;
}
/* 참고 sprite 기법 */
/* #footer .footer_content h2{
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
} */
/* Footer Navigation */
#footer .footer_content nav{
    border-top: 1px solid #000;
    padding-top: 20px;
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
}
#footer .footer_content nav h3 {
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.12px;
    margin-bottom: 9.6px;
}
#footer .footer_content nav>div{
    width: 20%;
}
#footer .footer_content nav ul{
    font-weight: 400;
    line-height: 16px;
}
#footer .footer_content nav ul li {
    margin-bottom: 9.6px;
}
#footer .footer_content nav>div:last-child>div:last-child{
    margin-top: 24px;
}
/* Legal */
#legal{
    width: 980px;
    margin: 0 auto;
    padding: 34px 0 21px;
    color: #868;
}
#legal h3{
    margin-bottom: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d2d2d7;
}
#legal h3>a{
    color: #06c;
}
#legal > div {
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
#legal>div div:first-child{
    margin: 5px 30px 0 0;
}
#legal>div div:first-child a{
    color: #515154;
}
#legal>div div:nth-child(2){
    color: #515154;
    margin-left: -288px;
}
#legal>div div:nth-child(2) a{
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
    margin-top: 5px;
}
#legal>div div:nth-child(2) a:last-child{
    border-right: none;
}

#legal>div div:last-child{
    margin-top: 5px;
}
#legal span::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    color: #06c;
    padding-left: 8px;
    display: inline-block;
}

/* select 스타일 */
select{
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}






































































