@charset "utf-8";

.w1440 {
    width: 1440px;
    margin: 0 auto;
}

.sys {
    padding-top: 120px;
}

h2 {
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    font-weight: 400;
}

h2 span {
    font-size: 120px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    padding-right: 30px;
    display: inline-block;
    text-shadow: 0 0 8px #000;
}

/* 0. Home */
.section1 {
    background-image: url("../images/section1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding-top: 36px;
}

.logo {
    /* 플롯 */
    float: left;
}

.gnb {
    /* 플롯 */
    float: right;
}

.gnb li {
    /* 플롯 */
    float: left;
    margin-left: 145px;
}

.gnb li:nth-child(1) {
    margin-left: 0;
}

.gnb li a {
    font-family: "fJalla", sans-serif;
    font-size: 20px;
    color: #fff;
}

/* 1. section */
.section2 {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../images/section2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 .sys {
    padding-top: 150px;
}

/* 2. section */
.section3 {
    background: url("../images/avengers1.jpg") no-repeat;
    background-size: cover;
}

/* 3. section */
.section4 {
    background: url("../images/avengers2.jpg") no-repeat;
    background-size: cover;
}

/* 4. section */
.section5 {
    background: url("../images/avengers3.jpg") no-repeat;
    background-size: cover;
}

/* 5. section */
.section6 {
    background: url("../images/avengers4.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.section p {
    font-size: 14px;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    position: absolute;
    left: 825px;
    bottom: 50px;
    z-index: 999;
}